*.class
*.jar
!*ojdbc7-12.1.0.2.jar
*.war
.metadta
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
Servers
RemoteSystemsTempFiles/
.externalToolBuilders/
*.launch
.factorypath
.target
.recommenders/
*.properties
hibernate.cfg.xml
